

<router-outlet></router-outlet>
<div class="container">
  <h2>{{title}}</h2>
  <div class="taskbar">
    <input type="text" name="add-task" id="add-task" placeholder="Enter task" [(ngModel)]="inputText" #inputTask/>
    <button class="add-btn" (click)="addToTask(inputText)">
      <span *ngIf="editItem">Update</span>
      <span *ngIf="!editItem">Add</span>
    </button>
  </div>
  <ul class="task-list flex gap">
    <li class="task-item flex gap" *ngFor="let task of tasks">
      <div class="task-name" [ngClass]="task.done ? 'mark':' '">
        {{task.desc}}
      </div>
      <div class="actions">
        <button class="btn" (click)="markTask(task)">
          <span *ngIf="task.done">Unmark</span>
          <span *ngIf="!task.done">Mark</span>
        </button>
        <button class="btn" (click)="editTask(task)">
          Edit
        </button>
        <button class="btn" (click)="deleteTask(task)">Delete</button>
      </div>
    </li>
  </ul>
  <div class="completed-tasks">
    <h2>Completed Tasks</h2>
    <ul class="completed-list">
      <li class="completed-item" *ngFor="let ct of completedTasks">
        {{ct.desc}}
      </li>
    </ul>
  </div>
</div>

